@media (max-width: 500px ){


body{
    background-color: #171717;
    padding: 5px 30px;
    text-align: center;
}
.porta{
    background-color: #000000;
    border-radius:15px;
    text-align: center;
    height: 400px;
    
}
img{
    height: 100%;
}
h2{
    color: #ff0000;
    font-family: "Great Vibes", cursive;
    font-weight: 450;
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
p{
    font-size: 17px;
    color: #fff;
    font-family: "Bad Script", cursive;
    font-style: italic;
    letter-spacing: 0,1em;
}


.container{
    background-color: #000000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    align-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#countdown{
    align-content: baseline;
    background-color: #c50000;
    padding: 10px;
    display: block;
}
}
